In [1]:
import pandas as pd

data_path = './data/after_preprocessing.csv'

df = pd.read_csv(data_path)

In [2]:
df['platform'].unique()

array(['naver', 'brunch'], dtype=object)

In [3]:
df.head()

,source,content,postdate,platform
0,휴애리 자연생활공원,언니 평소 가보고 싶어 하던 휴애리 축제 다녀왔어요 지금 한참 만발 해서 꽃길 걷다...,20211217,naver
1,휴애리 자연생활공원,안녕하세요 아델라 입니다 이번 포스팅 휴애리 자연생활공원 사진 많은 이었어요 저희 ...,20220227,naver
2,휴애리 자연생활공원,제주도 휴애리 자연생활공원 제주 매화축제 구경 제주 서귀포시 남원읍 매일 연중 입장...,20220306,naver
3,휴애리 자연생활공원,안녕하세요 량애 절반 지나가고 있네요 아직도 머물러 있어요 제주도 여행 다녀온지 얼...,20220127,naver
4,휴애리 자연생활공원,서귀포 가볼만 휴애리 자연생활공원 동백 포토 진짜 제주도 가서 이렇게 동백 미친듯이...,20220104,naver

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361706 entries, 0 to 361705
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   source    361706 non-null  object
 1   content   361677 non-null  object
 2   postdate  361706 non-null  int64
 3   platform  361706 non-null  object
dtypes: int64(1), object(3)
memory usage: 11.0+ MB

In [5]:
# null 값 제거
df = df.dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361677 entries, 0 to 361705
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   source    361677 non-null  object
 1   content   361677 non-null  object
 2   postdate  361677 non-null  int64
 3   platform  361677 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.8+ MB

In [7]:
# index 수정
df.reset_index()

,index,source,content,postdate,platform
0,0,휴애리 자연생활공원,언니 평소 가보고 싶어 하던 휴애리 축제 다녀왔어요 지금 한참 만발 해서 꽃길 걷다...,20211217,naver
1,1,휴애리 자연생활공원,안녕하세요 아델라 입니다 이번 포스팅 휴애리 자연생활공원 사진 많은 이었어요 저희 ...,20220227,naver
2,2,휴애리 자연생활공원,제주도 휴애리 자연생활공원 제주 매화축제 구경 제주 서귀포시 남원읍 매일 연중 입장...,20220306,naver
3,3,휴애리 자연생활공원,안녕하세요 량애 절반 지나가고 있네요 아직도 머물러 있어요 제주도 여행 다녀온지 얼...,20220127,naver
4,4,휴애리 자연생활공원,서귀포 가볼만 휴애리 자연생활공원 동백 포토 진짜 제주도 가서 이렇게 동백 미친듯이...,20220104,naver
...,...,...,...,...,...
361672,361701,1100고지(휴게소),크레마 알맞게 덮힌 진한 커피 두툼 내리고 감싸 온기 먼저 마시는 살짝 서리 펑펑 ...,20201220,brunch
361673,361702,(주)제주해양레저 투명카약,제주해양레저 즐기며 특별한 경험 되는 제주 오션 파크 제주 해양레저 즐기러 오는 사...,20190618,naver
361674,361703,(주)제주해양레저 투명카약,제주 가볼만 제주도 렌트카 지도 보고 버스 타고 뚜벅 여행 권역별 지선 버스 노선 ...,20210508,naver
361675,361704,(주)제주해양레저 투명카약,우리나라 바다 모두 특색 있고 아름다워 사계절 내내 예쁜 비경 자랑 하는데요 제주도...,20181224,naver
361676,361705,(주)제주해양레저 투명카약,안녕하세요 이웃 여름 휴가철 맞아 많은 관광객 저희 퐁당 제주 찾아주시는데요 모두 ...,20200809,naver

In [8]:
df.head()

,source,content,postdate,platform
0,휴애리 자연생활공원,언니 평소 가보고 싶어 하던 휴애리 축제 다녀왔어요 지금 한참 만발 해서 꽃길 걷다...,20211217,naver
1,휴애리 자연생활공원,안녕하세요 아델라 입니다 이번 포스팅 휴애리 자연생활공원 사진 많은 이었어요 저희 ...,20220227,naver
2,휴애리 자연생활공원,제주도 휴애리 자연생활공원 제주 매화축제 구경 제주 서귀포시 남원읍 매일 연중 입장...,20220306,naver
3,휴애리 자연생활공원,안녕하세요 량애 절반 지나가고 있네요 아직도 머물러 있어요 제주도 여행 다녀온지 얼...,20220127,naver
4,휴애리 자연생활공원,서귀포 가볼만 휴애리 자연생활공원 동백 포토 진짜 제주도 가서 이렇게 동백 미친듯이...,20220104,naver

In [9]:
# labeling
d = df.source.unique()
dic = {string : i for i,string in enumerate(d)}
for key,val in dic.items():
  df.loc[(df['source'] == key), 'target'] = int(val)

In [10]:
df['target'].astype(int)

0            0
1            0
2            0
3            0
4            0
          ...
361701    1020
361702    1021
361703    1021
361704    1021
361705    1021
Name: target, Length: 361677, dtype: int64

In [11]:
# 문장 단위로 자르기
from tqdm import tqdm

content = []
label = []
source = []
postdate = []
platform = []
from kiwipiepy import Kiwi
kiwi = Kiwi()

In [12]:
for i in tqdm(range(0,100000)):
    try:
        s = kiwi.split_into_sents(df['content'][i])
        for j in s:
            content.append(j.text)
            label.append(df['target'][i])
            source.append(df['source'][i])
            postdate.append(df['postdate'][i])
            platform.append(df['platform'][i])
    except:
        print(i)

 17%|█▋        | 16793/100000 [21:17<1:28:12, 15.72it/s]

16787

 47%|████▋     | 47024/100000 [55:06<43:32, 20.27it/s]

47018

 83%|████████▎ | 83490/100000 [1:37:22<30:16,  9.09it/s]

83483

 84%|████████▍ | 83892/100000 [1:37:53<21:00, 12.78it/s]

83888

 84%|████████▍ | 84349/100000 [1:38:38<37:33,  6.94it/s]

84344

 85%|████████▍ | 84811/100000 [1:39:13<17:40, 14.33it/s]

84808

 85%|████████▌ | 85330/100000 [1:39:52<22:59, 10.63it/s]

85326

 87%|████████▋ | 87017/100000 [1:42:14<16:31, 13.10it/s]

87012

 88%|████████▊ | 88442/100000 [1:44:20<15:53, 12.12it/s]

88438

 88%|████████▊ | 88472/100000 [1:44:23<13:46, 13.94it/s]

88466

 91%|█████████ | 91149/100000 [1:48:18<09:35, 15.39it/s]

91144

 92%|█████████▏| 91832/100000 [1:49:14<11:08, 12.21it/s]

91826

 92%|█████████▏| 92206/100000 [1:49:43<16:08,  8.04it/s]

92203

 94%|█████████▍| 94102/100000 [1:52:01<07:06, 13.82it/s]

94095

 95%|█████████▌| 95244/100000 [1:53:08<04:10, 19.02it/s]

95238

100%|██████████| 100000/100000 [2:03:44<00:00, 13.47it/s]

In [13]:
new_df = pd.DataFrame()
new_df['source'] = source
new_df['content'] = content
new_df['postdate'] = postdate
new_df['platform'] = platform
new_df['target'] = label
new_df.to_csv("sentences1.csv", mode='w')

In [14]:
content = []
label = []
source = []
postdate = []
platform = []

In [15]:
for i in tqdm(range(100000,200000)):
    try:
        s = kiwi.split_into_sents(df['content'][i])
        for j in s:
            content.append(j.text)
            label.append(df['target'][i])
            source.append(df['source'][i])
            postdate.append(df['postdate'][i])
            platform.append(df['platform'][i])
    except:
        print(i)

  3%|▎         | 3459/100000 [04:38<1:22:46, 19.44it/s]

103444

 15%|█▌        | 15478/100000 [15:53<1:24:24, 16.69it/s]

115471

 59%|█████▉    | 59085/100000 [1:00:41<35:06, 19.42it/s]

159081

 97%|█████████▋| 96791/100000 [1:38:29<03:25, 15.62it/s]

196785

 98%|█████████▊| 98024/100000 [1:39:35<02:55, 11.28it/s]

198019

100%|██████████| 100000/100000 [1:41:17<00:00, 16.46it/s]

In [16]:
new_df = pd.DataFrame()
new_df['source'] = source
new_df['content'] = content
new_df['postdate'] = postdate
new_df['platform'] = platform
new_df['target'] = label
new_df.to_csv("sentences2.csv", mode='w')

In [17]:
content = []
label = []
source = []
postdate = []
platform = []

In [18]:
for i in tqdm(range(200000,300000)):
    try:
        s = kiwi.split_into_sents(df['content'][i])
        for j in s:
            content.append(j.text)
            label.append(df['target'][i])
            source.append(df['source'][i])
            postdate.append(df['postdate'][i])
            platform.append(df['platform'][i])
    except:
        print(i)

  7%|▋         | 6796/100000 [07:31<1:08:17, 22.75it/s]

206797

  7%|▋         | 6876/100000 [07:36<1:08:34, 22.63it/s]

206867

 10%|▉         | 9763/100000 [10:17<2:24:42, 10.39it/s]

209759

 28%|██▊       | 27976/100000 [25:42<51:17, 23.40it/s]

227970

 36%|███▌      | 36194/100000 [35:23<1:06:25, 16.01it/s]

236189

 86%|████████▌ | 85656/100000 [1:27:05<11:47, 20.29it/s]

285645

 97%|█████████▋| 96921/100000 [1:44:43<03:17, 15.60it/s]

296914

100%|██████████| 100000/100000 [1:47:57<00:00, 15.44it/s]

In [19]:
new_df = pd.DataFrame()
new_df['source'] = source
new_df['content'] = content
new_df['postdate'] = postdate
new_df['platform'] = platform
new_df['target'] = label
new_df.to_csv("sentences3.csv", mode='w')

In [12]:
content = []
label = []
source = []
postdate = []
platform = []

In [13]:
for i in tqdm(range(300000,361706)):
    try:
        s = kiwi.split_into_sents(df['content'][i])
        for j in s:
            content.append(j.text)
            label.append(df['target'][i])
            source.append(df['source'][i])
            postdate.append(df['postdate'][i])
            platform.append(df['platform'][i])
    except:
        print(i)

 29%|██▉       | 18091/61706 [19:18<47:04, 15.44it/s]

318086

 73%|███████▎  | 45172/61706 [1:00:03<19:00, 14.50it/s]

345167

100%|██████████| 61706/61706 [1:18:02<00:00, 13.18it/s]

In [14]:
new_df = pd.DataFrame()
new_df['source'] = source
new_df['content'] = content
new_df['postdate'] = postdate
new_df['platform'] = platform
new_df['target'] = label
new_df.to_csv("sentences4.csv", mode='w')

In [16]:
import pandas as pd

df1 = pd.read_csv('./sentences1.csv')
df2 = pd.read_csv('./sentences2.csv')
df3 = pd.read_csv('./sentences3.csv')
df4 = pd.read_csv('./sentences4.csv')

In [17]:
print(len(df1),len(df2),len(df3),len(df4))

2939848 2580717 2695097 1912216

In [18]:
result = pd.concat([df1,df2,df3,df4], ignore_index=True)

In [20]:
result.head()

,Unnamed: 0,source,content,postdate,platform,target
0,0,휴애리 자연생활공원,언니 평소 가보고 싶어 하던 휴애리 축제 다녀왔어요,20211217,naver,0.0
1,1,휴애리 자연생활공원,지금 한참 만발 해서 꽃길 걷다 고간 제주 감귤 체험 알차게 즐기고 돌아온 여행 이...,20211217,naver,0.0
2,2,휴애리 자연생활공원,서귀포 남원읍 자리 휴애리 자연생활공원 볼수 있을 유명하답니다,20211217,naver,0.0
3,3,휴애리 자연생활공원,지금 겨울 대표 동백꽃 넓은 부지 활짝 피어 있어 걷는 발길 마다 온통 핑크색 꽃길...,20211217,naver,0.0
4,4,휴애리 자연생활공원,휴애리 자연생활공원 제주 서귀포시 남원읍 입장 시간 매일 하절기 입장 마감 입장 마...,20211217,naver,0.0

In [21]:
result['target'] = result['target'].astype(int)

In [22]:
result.head()

,Unnamed: 0,source,content,postdate,platform,target
0,0,휴애리 자연생활공원,언니 평소 가보고 싶어 하던 휴애리 축제 다녀왔어요,20211217,naver,0
1,1,휴애리 자연생활공원,지금 한참 만발 해서 꽃길 걷다 고간 제주 감귤 체험 알차게 즐기고 돌아온 여행 이...,20211217,naver,0
2,2,휴애리 자연생활공원,서귀포 남원읍 자리 휴애리 자연생활공원 볼수 있을 유명하답니다,20211217,naver,0
3,3,휴애리 자연생활공원,지금 겨울 대표 동백꽃 넓은 부지 활짝 피어 있어 걷는 발길 마다 온통 핑크색 꽃길...,20211217,naver,0
4,4,휴애리 자연생활공원,휴애리 자연생활공원 제주 서귀포시 남원읍 입장 시간 매일 하절기 입장 마감 입장 마...,20211217,naver,0

In [24]:
del result['Unnamed: 0']

In [25]:
result.head()

,source,content,postdate,platform,target
0,휴애리 자연생활공원,언니 평소 가보고 싶어 하던 휴애리 축제 다녀왔어요,20211217,naver,0
1,휴애리 자연생활공원,지금 한참 만발 해서 꽃길 걷다 고간 제주 감귤 체험 알차게 즐기고 돌아온 여행 이...,20211217,naver,0
2,휴애리 자연생활공원,서귀포 남원읍 자리 휴애리 자연생활공원 볼수 있을 유명하답니다,20211217,naver,0
3,휴애리 자연생활공원,지금 겨울 대표 동백꽃 넓은 부지 활짝 피어 있어 걷는 발길 마다 온통 핑크색 꽃길...,20211217,naver,0
4,휴애리 자연생활공원,휴애리 자연생활공원 제주 서귀포시 남원읍 입장 시간 매일 하절기 입장 마감 입장 마...,20211217,naver,0

In [26]:
result.to_csv("sentences.csv", mode='w')